<h1>Welcome to appstate</h1>
<p>Hi <%= @full_name %></p>
<p>
  Welcome to appstate, We're excited to have you on board!
</p>
<p>
  To login, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
